{% extends "network/layout.html" %}

{% block body %}

<div id="index_view">
<div class="row">
    {% if user.is_authenticated %}
    <div id="compose-view">
        <form id="compose-form">
            <textarea maxlength="280" class="form-control" id="compose-body"
                placeholder="What's on your mind?"></textarea>
            <input id="submit" type="submit" value='Post' class="btn btn-primary" />
        </form>
    </div>
    {% endif %}
    </div>

    <div class="row">
    <div id="post-view">
        <div class="row inbox-wrapper">
            <div class="col-lg-12">
                     <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                    <tbody id="archive_emails">
                {% for item in posts %}
                 <tr>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 email-aside border-lg-right">
                                <div class="aside-content">
                                    <div class="aside-header">
                                    </div>
                                    <a href="" id="{{ item.user }}" class="postMaker">{{ item.user }}</a>
                                    <div id="dateTime" class="date">{{ item.timestamp }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="email-body-div">
                        <textarea disabled class="form-control" id="post-body">{{ item.body }}</textarea>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="email-attachments">
                                <button data-index="{{ item.user }}" id="{{item.id}}" class="btn btn-success">
                                    {% if item.id in liked_posts %}
                                        Unlike: {{ item.like_count }}
                                    {% else %}
                                        Like: {{ item.like_count }}
                                    {% endif %}
                                </button>
                        </div>
                    {% endif %}
                        {% if user.username == item.user  %}
                            <button  class="btn btn-warning">
                                    {% if item.id in liked_posts %}
                                        Unlike: {{ item.like_count }}
                                    {% else %}
                                        Like: {{ item.like_count }}
                                    {% endif %}
                                </button>
                        {% endif %}
                    </div>
                </div>
            </tr>
            <br>
            {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>



<div id="profile_view">
    <div class="row">
    <div id="profile-view">
        <div id="profile_card" class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" id="username">UserName</h5>
                <p class="card-text" id="userBio">This will be where the bio information will go</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" >Followers:<div id="profile_followers"> </div></li>
                <li class="list-group-item" >Following:<div id="profile_following"> </div></li>
            </ul>
            <div class="card-body">
                <button id="follow" class="btn btn-primary">Follow</button>
                <button id="unfollow" class="btn btn-primary">Unfollow</button>
            </div>
        </div>
    </div>
</div>



</div>

{% endblock %}