textarea {
    background: white;
    border: none;
}

.list-group-item{
    border-bottom: none;
}

.inbox-wrapper{
    width: 80%;
    margin-left: 20%;
    margin-right: 20%;
}
#compose-view{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
}

#personal_profile {
     width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;

}

#profile-view {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
}

#profile_card {
    margin-left: 20%;
    margin-right: 80%;
    border:none;
}

#post-view{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
}

#personal_card {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;

}

#post-body{
    background-color: white;
    border: none;
    min-height: 100px;

}

#compose-body {
    margin-bottom: 10px;
}

.hide {
 display: none;
}

.form-control {
    background: white;
    border: none;
}
.email-body-div {
    width:100%
}
